*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/*-------------------Barra de Navegación----------------*/
.header{
    background-color: #092C4C;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
header.Encabezado{
    background: #092C4C;
    height: 100px;
}
div.Nombre-Empresa{
    display: flex;
    margin-left: 70px;
}
.logo-png{
    margin-top: 14px;
}
.logo{
    position: absolute;
    width: 183px;
    height: 36px;
    left: 131px;
    top: 30px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-decoration: none;
}
.Navegacion{
    display: flex;
    margin:0  auto;
}
.nav-menu{
    display: flex;
    margin-left: 339px;

    margin-top: 38px;
    list-style: none;
}
.nav-menu-item{
    font-size:16px;
    margin:0 20px;
    width: max-content;
}
.nav-link{
    color: #FFFFFF;
    text-decoration: none;
}
.nav-Ingreso{
    display: flex;
    margin-left: 550px;
    margin-top: 27px;
}
.item{
    width: max-content;
    margin:0 15px;
}
.Iniciar-Sesion{
    margin-top: 12px;
}
.nav-menu-link:hover{
    background-color: #5CB3C1;
}

/*-------------------Casos de Exito---------------------*/

.container{
    width:100%;
    padding: 10px 40px;
    color: #092C4C;
}

.container .swiper-container {
    width: 100%;
    height: 100%;
}

.container .swiper-slide {
    position: relative;
    text-align: start;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(196,196,196,0.25);

}

.swiper-slide img {
    display: block;
    width: 597px;
    height: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.container .card-description{
    padding: 1rem;
}

.container .card-description .card-title,
.container .card-description .card-text,
.container .card-description .card-autor{
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 15px ;
    line-height: 28px;
    font-weight: inherit;
}

.title{
    text-align: center;
    color: #092C4C;
}

.swiper-button-next{
    right: 70px !important;
}

.swiper-button-left{
    left: 200px !important;
}

/*-------------------Boton Comenzar---------------------*/
section.Boton-comenzar{
    height:50px;
    margin-top: 100px;
    margin-bottom: 30px;
}
h3.Comenzar{
    width:200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;
    background: #092C4C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 4px;
}

/*-------------------Nuestras Alianzas---------------------*/
div.Alianzas-title{
    box-sizing: border-box;
}
h2.Nuestras-Alianzas{
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;
}
section.Franja-Alianzas {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(#092C4C,#5CB3C1);
    box-sizing: border-box;
}
div.Alianzas-Contenido{
    padding-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}
